.Cart {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    margin-top: 5rem;

    .title {
        font-family: var(--font-baloo);
        font-size: 1.12rem;
        color: var(--base-subtitle);
        font-weight: 700;
        margin-bottom: -1rem;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .left-container {
        width: 65%;
    }

    .right-container {
        width: 35%;
    }

    @media (max-width: 981px) {
        flex-direction: column;
        .left-container {
            width: 100%;
        }
    
        .right-container {
            width: 100%;
        }
    }
}