
.LayoutContainer {
    width: 100%;
    max-width: 1600px;
    height: calc(100vh - 10rem);
    background: var(--background);
    padding: 2rem 10rem;
    border-radius: 8px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;

    @media (max-width: 1200px) {
        padding: 2rem;
    }
}

.background-modal {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    z-index: 99;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(112, 112, 112, 0.4);
    display: none;

    &.isOpen {
        display: block;
    }
  }
