.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 104px;
    position: relative;

    .logo {
        width: 84px;
        height: 40px;
    }

    .buttons-right {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;

        .button-location {
            background: var(--purple-light);
            color: var(--purple-dark);
            border: none;
        }

        .button-cart {
            background: var(--yellow-light);
            color: var(--yellow-dark);
            border: none;
            position: relative;

            span {
                position: absolute;
                top: -5px;
                right: -5px;
                background: var(--yellow-dark);
                color: var(--white);
                border-radius: 50%;
                font-size: 10px;
                width: 18px;
                height: 18px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}