:root {
    --white: #fff;
    --background: #FAFAFA;

    --yellow-dark: #C47F17;
    --yellow: #DBAC2C;
    --yellow-light: #F1E9C9;

    --purple-dark: #4B2995;
    --purple: #8047F8;
    --purple-light: #EBE5F9;
  
    --base-card: #F3F2F2;
    --base-input: #EDEDED;
    --base-button: #E6E5E5;
    --base-hover: #D7D5D5;
    --base-label: #8D8686;
    --base-text: #574F4D;
    --base-subtitle: #403937;
    --base-title: #272221;

    --font-baloo: 'Baloo 2', cursive;
    --font-roboto: 'Roboto', sans-serif;
  }

  :focus {
    outline: transparent;
    box-shadow: 0 0 0 2px var(--blue-500);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

  body {
    background: var(--background);
    -webkit-font-smoothing: antialiased;
  }

  input, textarea {
    font-weight: 400;
    font-size: 1rem;
    background: var(--base-input);
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(var(--base-hover): var(--base-hover), $var(--base-hover): 0.2);
    border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--base-button);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--base-label);
  }